.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.login-card {
  width: 400px;
  min-height: 400px;
  padding: 20px;
  background-color: #00838f;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: none;
  margin: 0 auto;
}
