.editar-acesso-container {
    padding: 20px;
    width: 100%;
  }
  
  .form-editar-acesso {
    max-width: 500px;
    margin: 20px auto;
  }
  .form-container {
    background-color: #2D2D2D;
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  .form-padrao {
    max-width: 500px;
    margin: 0 auto;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: white;
  }
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #1E1E1E;
    color: white;
  }
  
  
  .form-input:focus {
    outline: none;
    border-color: #00838F;
  }
  
  .form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .btn-salvar {
    padding: 8px 16px;
    background-color: #00838F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  btn-salvar:hover {
    background-color: #006064;
  }
  
  .btn-voltar {
    padding: 8px 16px;
    background-color: #00838F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .btn-voltar:hover {
    background-color: #006064;
  }
  
  /* Reutilizando estilos do ConfiguracaoAcesso */
  .configuracao-acesso-container {
    position: relative;
    height: 100vh;
    padding: 20px;
    width: 100%;
    background-color: #1E1E1E;
    color: white;
  }
  .btn-editar {
    padding: 5px 10px;
    background-color: #00838f;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .btn-editar:hover {
    background-color: #006064;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-title {
    margin: 0;
    color: white;
  }