
.lista-usuarios-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100vh; /* Garante que ocupe toda a altura da tela */
    padding: 20px;
}
