.home-container {
  position: relative;
  height: 100vh;
}

.Home-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-height: 300px;
  width: 400px;
  background-color: #00838f;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: none;
}

/* Estilo para o placeholder do input */
.input-custom::placeholder {
  color: white; /* Cor do texto do placeholder */
  opacity: 1; /* Para garantir que a opacidade seja total */
}