
.configuracao-container {
  padding: 2rem;
  width: calc(100vw - 250px);
  min-height: 100vh;
  background-color: #1a1a1a;
}


.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.header h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.voltar-btn {
  background-color: #008B8B;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.config-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.input-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-row:last-child {
  grid-template-columns: 1fr;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group label {
  color: white;
  font-size: 0.9rem;
}

.input-group input {
  background-color: #333;
  border: none;
  padding: 0.75rem;
  color: white;
  font-size: 1rem;
  width: 100%;
  border-radius: 4px;
}

.input-group input:focus {
  outline: none;
  background-color: #404040;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.salvar-btn {
  background-color: #008B8B;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.salvar-btn:hover {
  background-color: #006666;
}